.buildHeader {
  padding: 2rem;
  margin: 0 -2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    hsl(var(--hue) 70% 50% / 0%),
    hsl(var(--hue) 70% 50% / 15%)
  );
  border-bottom: solid 1px hsl(var(--hue) 30% 35%);
}

.buildHeader:not(.buildDual) .buildBranch,
.buildHeader .buildBranchDual {
  color: hsl(var(--hue) 40% 75%);
}

.buildPlain {
  background-image: linear-gradient(
    to bottom,
    transparent,
    hsl(0deg 0% 30% / 15%)
  );
  border-top: solid 1px hsl(0deg 0% 30%);
  border-bottom: solid 1px hsl(0deg 0% 30%);
}

.buildHeader.buildDual {
  background-image: linear-gradient(
    to bottom,
    hsl(var(--c-canary-hue) 70% 50% / 15%),
    hsl(var(--c-ptb-hue) 70% 50% / 15%)
  );
  border-top: solid 1px hsl(var(--c-canary-hue) 30% 35%);
}

.buildHeader.buildDual .buildName {
  display: flex;
  flex-flow: row nowrap;
  align-items: last baseline;
  column-gap: 0.5rem;
}

.buildHeader .unemphasized {
  color: #ddd;
  font-weight: normal;
}

.buildHeader.buildDual .buildBranch {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
}

.buildHeader.build-canary {
  --hue: var(--c-canary-hue);
}

.buildHeader.build-ptb,
.buildHeader.buildDual {
  --hue: var(--c-ptb-hue);
}

.buildHeader.build-stable {
  --hue: var(--c-stable-hue);
}

.buildHeader .buildMetadata {
  margin-left: auto;
  font-family: var(--condensed-sans-serif);
  opacity: 0.7;
  font-size: 140%;
}

.buildHeader .buildAbsoluteTimestamp {
  font-size: 80%;
}

.buildHeader .buildTimestamps {
  text-align: right;
}

.buildHeader .buildName {
  color: #ddd;
  font-size: 4rem;
  line-height: 1;
  font-weight: bold;
}

.buildHeader .buildNumber {
  font-size: 80%;
}

.mergeWithNavigation {
  margin-top: calc(-2rem - 1px);
}
