.wrappingBuildsList {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.wrappingBuildsList .build {
  font-family: var(--condensed-sans-serif);
  padding: 0.1em 0.2em;
  background: hsl(var(--hue) 40% 20%);
  opacity: 0.4;
  border-radius: 0.25rem;
  line-height: 1.2;
}

.wrappingBuildsList .build.buildCollapsed {
  background-image: linear-gradient(
    to right,
    hsl(var(--c-canary-hue) 40% 20%) 50%,
    hsl(var(--c-ptb-hue) 40% 20%) 50% 100%
  );
}

.wrappingBuildsList .build.buildCurrent {
  opacity: unset;
}
