.build-header {
  padding: 2rem;
  margin: 0 -2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    hsl(var(--hue) 70% 50% / 0%),
    hsl(var(--hue) 70% 50% / 15%)
  );
  border-bottom: solid 1px hsl(var(--hue) 30% 35%);
}

.build-header:not(.build-dual) .build-branch,
.build-header .build-branch-dual {
  color: hsl(var(--hue) 40% 75%);
}

.build-header.build-dual {
  background-image: linear-gradient(
    to bottom,
    hsl(var(--c-canary-hue) 70% 50% / 15%),
    hsl(var(--c-ptb-hue) 70% 50% / 15%)
  );
  border-top: solid 1px hsl(var(--c-canary-hue) 30% 35%);
}

.build-header.build-dual .build-name {
  display: flex;
  flex-flow: row nowrap;
  align-items: last baseline;
  column-gap: 0.5rem;
}

.build-header .unemphasized {
  color: #ddd;
  font-weight: normal;
}

.build-header.build-dual .build-branch {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
}

.build-header.build-canary {
  --hue: var(--c-canary-hue);
}

.build-header.build-ptb,
.build-header.build-dual {
  --hue: var(--c-ptb-hue);
}

.build-header.build-stable {
  --hue: var(--c-stable-hue);
}

.build-header .build-metadata {
  margin-left: auto;
  font-family: var(--condensed-sans-serif);
  opacity: 0.7;
  font-size: 140%;
}

.build-header .build-absolute-timestamp {
  font-size: 80%;
}

.build-header .build-timestamps {
  text-align: right;
}

.build-header .build-name {
  color: #ddd;
  font-size: 4rem;
  line-height: 1;
  font-weight: bold;
}

.build-header .build-number {
  font-size: 80%;
}
